*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#d8c9fa, #ffffff);
}
.header-text h1{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  width: 600px;
  font-weight: bold;
}
.header-text p{
  font-size: 15px;
  width: 600px;
}
span{
  color: #FF5039;
}
nav ul li{
  padding: 0 5px;
}
nav ul li a{
  font-size: 17px;
  font-weight: bold;
}

.products img{
  border-radius: 5px;
}
.pd-item{
  position: relative;
}
.pd-item::after{
  content: "";
  display: block;
  width: 120px;
  height: 5px;
  border-radius: 50px;
  background: red;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
}
.pro{
  transition: 0.3s;
}
.pro:hover{
  transform: translateY(-8px);
}
.pro img{
  height: 350px;
}
.show-pics .subname{
  position: relative;
  overflow: hidden;
}
.show-pics .subname .layer{
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  transition: 0.5s;
}
.show-pics .subname .layer:hover{
  background: rgba(226,0,0,0.7);
}
.show-pics .subname .layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0px;
  left: 40%;
  transform: translateY(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.show-pics .subname .layer:hover h3{
  bottom: 40%;
  opacity: 1;
}
.offer{
  background: radial-gradient(#d8c9fa, #ffffff);
}
.cmt{
  transition: .3s;
}
.cmt:hover{
  transform: translateY(-8px);
}
.cmt img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.second-part{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.second-part p{
  font-size: 14px;
  color: #555;
  text-align: left;
}
.second-part h5{
  color: #555;
}
.star i{
  color: #ff7b00;
}
.company-logo img{
  filter: grayscale(100%);
}
.company-logo img:hover{
  filter: grayscale(0%);
}
footer{
  background: #000;
  padding: 50px 0 10px 0;
  color: #fff;
}
footer h5{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
footer .sub-title{
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 30px;
}
footer p{
  color: #888787;
}
.foot-logo{
  color: #fff;
}
.small{
  font-size: 14px;
}
footer ul li{
  list-style: none;
  text-align: center;
}
footer ul li a{
  text-decoration: none;
  color: #8a8a8a; 
  line-height: 30px;
  transition: .2s;
}
footer ul li a:hover{
  color: #fff;
}
.dag{
  background: #fff;
  height: 10px;
}
.copyright{
  font-size: 13px;
}
#t-shirt{
  padding-top: 100px;
}
#t-shirt .pd-item{
  margin-bottom: 40px;
}